@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar la barra de scroll en navegadores modernos */
.scrollbar-hide::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge */
  }
  